<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header">
</head>

<body>
<div th:replace="fragments/layout :: menu"></div>

<div class="container">

    <div class="page-header">
        <h3>회원 등록</h3>
    </div>

    <form id="formCreate">
        <div class="form-group">
            <label for="empNo">사번</label>
            <input type="text" class="form-control" id="empNo" name="empNo" placeholder="사번입력"/>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름"/>
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span> 저장
            </button>
            <a th:href="@{/web/member/list}" class="btn btn-default">
                <span class="glyphicon glyphicon-step-backward"></span> 취소
            </a>
        </div>
    </form>

</div><!-- /.container -->

<div th:replace="fragments/layout :: footer"></div>

<script>
$('#formCreate').submit(function() {
    event.preventDefault();

    $.post("/members", toJson("#formCreate"))
            .done(function(data) {
                alert("등록되었습니다. #" + data.empNo);
                location.href = '/web/member/detail?empNo=' + data.empNo;
            })
            .fail(function(data) {
                alert(data.responseJSON.exception + ' (' + data.responseJSON.message + ')');
            });
});
</script>

</body>

</html>