<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/menu :: menu">
</div>

<div class="container">

    <div>
        <br/><br/><br/><br/><br/><br/><br/>
    </div>

    <form id="memberForm">
        <div class="form-group">
            <label for="empNo">사번</label>
            <input type="text" class="form-control" id="empNo" name="empNo" placeholder="사번입력"/>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름"/>
        </div>
        <button id="createBtn" type="button" class="btn btn-default">등록</button>
    </form>

</div><!-- /.container -->

<script>
    $('#createBtn').click(function(){

        $.ajax({
                type: "POST",
                url: "/members",
//                data: $('#memberForm').serialize(),
                data: {
                    "empNo": "9230082",
                    "id": 1,
                    "name": "서대영"
                },
                success : function(response) {
                    alert('response:' + response);
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json"
        });
//        $.ajax({
//            type: "POST",
//            url: url,
//            data: data,
//            success: success,
//            dataType: dataType
//        });
    });


</script>

</body>

</html>