<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
<div th:replace="fragments/menu :: menu">
</div>

<div class="container">

    <div>
        <br/><br/><br/><br/><br/><br/><br/>
    </div>

    <form id="memberForm">
        <div class="form-group">
            <label for="empNo">사번</label>
            <input type="text" class="form-control" id="empNo" name="empNo" placeholder="사번입력"/>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름"/>
        </div>
        <button id="createBtn" type="button" class="btn btn-default">등록</button>
    </form>

</div><!-- /.container -->

<script>
    // TODO 별도의 javascript 로독립
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(document).ready(function() {

        $("#createBtn").click(function() {
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify($(this).serializeObject()),
                method: 'POST',
                url: '/members',
                success: function(d) {
                    alert("등록되었습니다. #" + d['id']);
                },
                error: function(xhr) {
                    var res = $.parseJSON(xhr.responseText);
                    alert("에러가 났습니다.\n" + res['message']);
                }
            });
        });
    });

</script>

</body>

</html>