<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header">
</head>

<body>
<div th:replace="fragments/layout :: menu"></div>

<div class="container">

    <div class="page-header">
        <h3>회원 수정</h3>
    </div>

    <form id="formModify">
        <div class="form-group">
            <label for="empNo">ID</label>
            <input type="text" class="form-control" id="id" name="id"/>
        </div>
        <div class="form-group">
            <label for="empNo">사번</label>
            <input type="text" class="form-control" id="empNo" name="empNo" th:value="${param.empNo[0]}" th:unless="${param.empNo == null}"/>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름"/>
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span> 저장
            </button>
            <a th:href="@{/web/member/list}" class="btn btn-default">
                <span class="glyphicon glyphicon-step-backward"></span> 취소
            </a>
        </div>
    </form>

</div><!-- /.container -->

<div th:replace="fragments/layout :: footer"></div>

</body>

<script>
    $(function() {
        if (!$("#empNo").val()) {
            alert('사번이 없습니다.');
            return;
        }

        $.get('/members/' + $("#empNo").val())
                .done(function(data) {
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                })
                .fail(function(data) {
                    alert(data.responseJSON.exception + ' (' + data.responseJSON.message + ')');
                });
    });

    $('#formModify').submit(function(event) {
        event.preventDefault();

        $.put("/members/" + $("#empNo").val(), toJson("#formModify"))
                .done(function(data) {
                    alert("수정되었습니다. #" + data.empNo);
                    location.href = '/web/member/detail?empNo=' + data.empNo;
                })
                .fail(function(data) {
                    alert(data.responseJSON.exception + ' (' + data.responseJSON.message + ')');
                });
    });
</script>

</html>