<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header">
</head>

<body>
<div th:replace="fragments/layout :: menu"></div>

<div class="container">

    <div class="jumbotron">
        <h1>Coffee Time</h1>
        <p>팀 커피 주문을 위한 시스템입니다.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Order, Here!</a></p>
    </div>

</div><!-- /.container -->

<div th:fragment="footer" class="well container text-center">Copyright &copy; OneStore JPA Study Group</div>

</body>
</html>